.appHeaderLeft {
  padding-left: 12px;
  display: flex;
  align-items: center;
}

.appHeaderCenter {
  width: 944px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto; /* Centering horizontally */
}

.Search {
  width: 100%;
  height: 100%;
}

.appHeaderRight {
  padding-right: 12px;
  display: flex;
  gap: 8px; /* Spacing between components */
  align-items: center;
}

.title {
  margin: 0;
  font-size: 20px;
  letter-spacing: 0.8px;
  font-weight: 800;
  color: #ffffff; /* Change the color here */
}
